.header {
  min-height: 4rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.logo {
  font-weight: var(--fw-bold);
  font-size: var(--);
}
