.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 1.5em;
  height: 4em;
  width: 100vw;
}

.nav {
  display: flex;
  gap: 2.5em;
}

/* header link polluting global scope */
/* need fix */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.logo {
  font-family: Intern;
}

.logo:hover {
  cursor: pointer;
}
