footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  min-width: 450px;
  background-color: black;
  height: 4em;
  width: 100vw;
}

.logo,
span {
  color: white;
}
