.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 1.5em;
  background-color: black;
  height: 4em;
  width: 100vw;
}

.logo {
  color: white;
}

.footerText {
  color: white;
}
