.checkoutContainer {
  display: grid;
  background-color: var(--secondary-color);
  width: min(100% - 2rem, 450px);
  border-radius: 10px;
  gap: 1em;
  /* margin-block-start: 20vh; */
  padding: 2em;
}

.heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-heading);
}

.form {
  display: grid;
}
